h1 {
    font-size: 3rem;
}

body {
    padding: 1%;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

header > div {
    flex-grow: 1;
}

header > button {
    margin-left: 1rem;
}

main {
    width: 100%;
    height: 90%;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%; 
}

#menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.9);
}

#menu-overlay > div {
    width: max(50%, 300px);
    background-color: rgb(220, 220, 220);
    padding: 2%;
    border-radius: 1rem;
    border: 1px black solid;
}

#heading-seperator {
    width: 100%;
    height: 1px; 
    background-color: black; 
    margin: 1rem 0; 
}

#menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#exit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
}

#container {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    background-color: #d3d3d3;
}

#main-seperator {
    padding: 5rem 2rem;
}

#main-seperator > div {
    height: 100%;
    border-left: 1px solid black;
}

#sidebar {
    width: 25vw;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem; 
}

.flex-space-between > div {
    font-size: 1.3rem;
}

#mouse-position {
    min-width: 10rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#interactive-mode {
    min-width: 10rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

button {
    background-color: #21a67f;
    border: 1px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: #24b88b;
}

.height-100 {
    max-height: 100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #828282;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #21a67f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21a67f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }