h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

body {
    padding: 1%;
}

header {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
}

header > div {
    flex-grow: 1;
}

header > button {
    margin-left: 1rem;
}

main {
    height: 93%;
    width: 100%;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%; 
}

select {
    width: 8rem;
}

#menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.9);
}

#menu-overlay > div {
    width: max(50%, 300px);
    background-color: rgb(220, 220, 220);
    padding: 2%;
    border-radius: 1rem;
    border: 1px black solid;
}

#heading-seperator {
    width: 100%;
    height: 1px; 
    background-color: black; 
    margin: 1rem 0; 
}

#menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#exit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df3939;
    width: 2rem;
    height: 2rem;
}

#exit-button:hover {
    background-color: #e05454;
}

#sidebar {
    width: 25vw;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem; 
    font-size: 1.3rem;
}

.slider-option {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.slider-option > div:nth-child(2) {
    flex-grow: 1;
}

.slider-option > div:nth-child(3) {
    margin-right: .7rem;
    font-size: 1.1rem;
}

#mouse-position {
    min-width: 10rem;
    height: 2rem;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#interactive-mode {
    min-width: 10rem;
    height: 2rem;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

button {
    background-color: #1e90ff;
    border: 1px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: rgb(52, 154, 255);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #828282;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: DodgerBlue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px DodgerBlue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Custom select */
.custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

#custom-select {
    width: 3rem;
}